.intro{
    background-image: url("assets/health2.png");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    .left{
        flex: .5;
        img{
            padding-left: 100px;
            padding-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40%;
            width: 26%;
        }
    }
    .right{
        flex: .5;
        a{
            left: 50%;
            position: absolute;
            bottom: 0px;
            img{
                width: 80px;
                animation: arrowBlink 2s infinite;
                }
            

            @keyframes arrowBlink {
                to{
                    opacity: 0;
                }
            }
        }
    }   
}