.recommended{
    display: flex;
    align-items: center;
    background-color: rgb(58, 165, 236);
    flex-direction: column;
    
    top: 0;
    h1{
        padding-top: 40px;
        font-size: 30px;
    }
    h2{
        padding-top: 20px;
        font-size: 20px;
        font-weight: 700;
    }
    
    ul{
        padding-top: 20px;
        align-items: center;
        font-weight: 400;
        li{
            display: flex;
            list-style: floor($number: 0);
            align-items: space-around;
            font-weight: 400;
        }

    }
    a{
        padding-top: 210px;
        left: 46%;
        position: inherit;
        bottom: 0px;
        img{
            width: 100px;
            animation: arrowBlink 2s infinite;
            }
        
    
        @keyframes arrowBlink {
            to{
                opacity: 0;
            }
        }
    }
}