.recommendations{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: steelblue;
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    
    ul{
        align-items: space-around;
        li{
            display: flex;
            list-style: floor($number: 0);
            align-items: center;
        }

    }
    a{
        left: 46%;
        position: inherit;
        bottom: 0px;
        img{
            width: 100px;
            animation: arrowBlink 2s infinite;
            }
        
    
        @keyframes arrowBlink {
            to{
                opacity: 0;
            }
        }
    }
}